.wrapper
  .topbar
    .logo
      ООО «АлПак-Урал»
      .small
        Комплексное снабжение упаковочными материалами

    .phone
      (351) 268 95 61


#intro
  .wrapper
    .content
      .descriptor
        Производство и доставка
        %br
        гофротары по всей РФ

      %ul.bullets
        %li.clearfix
          %img{src: '/images/icon-factory.png'}
          .text
            Мы - завод производитель
            %br
            и гарантируем выгодные цены

        %li.clearfix
          %img{src: '/images/icon-gears.png'}
          .text
            Мы может выполнить заказ
            %br
            любого объема и сложности.

        %li.clearfix
          %img{src: '/images/icon-medal.png'}
          .text
            У нас самые широкие возможности
            %br
            в регионе - все марки картона.



%section
  .wrapper
    .title Для рассчета стоимости одной коробки нам необходимо знать:


    .triggers.clearfix
      .trigger
        .name Тип картона
        Трехслойный или пятислоный?
        %br
        Белый или бурый?

      .trigger
        .name Тип упаковки
        Мы производим абсолютно
        %br
        любые типы коробок.

      .trigger
        .name Графика
        Нужно ли наносить
        %br
        изображение на коробки?

      .trigger
        .name Тираж
        Чем тираж больше, тем дешевле
        %br
        стоимость одной упаковки



.form-block
  .wrapper
    .offer
      Сэкономьте 30 минут своего времени!


    .suboffer
      Оставьте заявку, чтобы с вами связался наш менеджер
      %br
      и по телефону рассчитал стоимость вашего заказа.

    .form.clearfix
      %input{type: :text, name: :name, placeholder: 'Введите ваше имя'}
      %input{type: :text, name: :phone, placeholder: 'Введите ваш телефон'}
      %button.send-form Оставить заявку

    .form-thank-you
      Наш менеджер свяжется с вами через 15 минут


%section
  .wrapper
    .title Наши клиенты

    .clients.clearfix
      .client
        %img{src: '/images/brands/1.jpg'}

      .client
        %img{src: '/images/brands/2.jpg'}

      .client
        %img{src: '/images/brands/3.jpg'}

      .client
        %img{src: '/images/brands/4.jpg'}

      .client
        %img{src: '/images/brands/5.jpg'}

      .client
        %img{src: '/images/brands/6.jpg'}



#map

